
@import '../../../../assets/scss/mixins-media.scss'; 
@import '../../../../assets/scss/mixins-global.scss'; 
@import '../../../../assets/scss/variables.scss'; 


// variables


// style

.login-form-container {
    width: $login-form-container-width;
    height: 900px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
}

.login-form-component{
    width: calc(#{$login-form-container-width} - #{$right-width});
    height: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & .form-logo{
        width: 70px;
        height: 70px;
        margin: 40px 70px 50px;
    }

    & .form-title{
        width: 408px;
        min-height: 108px;
        height: auto;
        margin-left: $main-margin;
        margin-right: 5rem;
        margin-bottom: 50px;
        & h2{
            font-family: 'Alegreya', serif;
            font-size: 32px;
            line-height: 44px;
            font-weight: 500;
            font-style: normal;
            margin-bottom: 12px;
            color:  #19212C;
            opacity: .43;
        }
        & p {
            min-width: 410px;
            width: auto;
            min-height: 52px;
            height: auto;
            line-height: 26px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.right{
    position: relative;
    width: $right-width;
    height: 100%;
    background-image: url('../../../../assets/img/backgroundRight.svg');
    background-size: cover;
    z-index: 5;
    @include centeredElem;

    & .illustration{
        max-width: 289px;
        min-height: 250px;
        margin-bottom: 50px;
        & img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }

    & .group{
        max-width: 282px;
        min-height: 90;
        height: auto;
        text-align: center;
        margin-bottom: 50px;
        & > h2{
            max-width: 282px;
            min-height: 30px;
            height: auto;
            font-family: serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            color: white; 
            margin-bottom: 12px;
        }
        & > p{
            max-width: 282px;
            min-height: 50px;
            height: auto;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
            color: #B7A9E3;
        }
    }
}